.bird-diverter-gif {
  width: 600px;
  animation: bird-diverter 0.75s infinite;
}

@keyframes bird-diverter {
  0% {
    transform: translate(-5px, -220px) rotate(2deg);
  }
  50% {
    transform: translate(5px, -220px) rotate(-2deg);
  }
  100% {
    transform: translate(-5px, -220px) rotate(2deg);
  }
}

.animation-div {
  position: absolute;
  width: 100%;
}

.product-name {
  width: 100%;
  padding: 20rem;
}

.product-heading {
  //position: fixed;
  //top: 18%;
  //left: 15%;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1;
  color: #ac2429;
}

.product-bird-diverter {
  //position: fixed;
  //top: 25%;
  //left: 15%;
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 1;
  color: #666;
}

.clouds-1 {
  position: fixed;
  z-index: -2;
  top: 10%;
  width: 100%;
}

.clouds-2 {
  position: fixed;
  z-index: -3;
  top: 25%;
  width: 100%;
}

.bird-1 {
  position: fixed;
  z-index: -1;
  top: 15%;
  width: 100%;
}

.bird-2 {
  position: fixed;
  z-index: -1;
  top: 30%;
  width: 100%;
}

.bird-3 {
  position: fixed;
  z-index: -1;
  top: 20%;
  width: 100%;
}

.content-1 {
  position: absolute;
  width: 100%;
  top: 80%;
  background: rgba(245, 102, 40, 0.3);
  height: 700px;
}
